body {
    background-color:lightgrey;
}

h1 {
    text-align:center;
    font-size:40px;
}

.home-wrapper {
    background-color: black;
    overflow: visible;
}

.home-wrapper a {
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}

.home-wrapper a:hover {
    background-color: rgb(191, 133, 199);
    color: black;
    text-decoration: underline;
}

.dropdown-menu {
    background-color: black;
    text-align: left;
  }

.giants-roster {
    height:600px;
    width:auto;
    border: 6px solid blue;
    padding: auto;
    margin-top: 2%;
    margin-left: 6.6%;
    margin-right:6.6%;
    background-image: url("GiantsField.jpg");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.giants-roster i {
    display: inline-block;
    position:absolute;
    text-align:center;
    color:darkblue;
}

#Quarterback {
    margin-left:46.4%;
    margin-top: 18.7%;
}

#Quarterback::after {
    content: '10';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#Center {
    margin-left:43%;
    margin-top:18.7%;
}

#Center::after {
    content: '75';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#LeftGuard {
    margin-left:43.4%;
    margin-top:22.1%;
}

#LeftGuard::after {
    content: '71';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#RightGuard {
    margin-left:43.4%;
    margin-top:15.3%;
}

#RightGuard::after {
    content: '70';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#LeftTackle {
    margin-left:44%;
    margin-top:25.4%;
}

#LeftTackle::after {
    content: '76';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#RightTackle {
    margin-left:44%;
    margin-top:11.9%;
}

#RightTackle::after {
    content: '63';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#RunningBack {
    margin-left:53%;
    margin-top:18.7%;
}

#RunningBack::after {
    content: '26';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#WR1 {
    margin-left:43.2%;
    margin-top:4.3%;
    transition: 0.5s ease;
}

#WR1::after {
    content: '81';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#WR2 {
    margin-left:43.2%;
    margin-top: 34%;
}

#WR2::after {
    content: '87';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#Slot {
    margin-left:45%;
    margin-top:8.1%;
}

#Slot::after {
    content: '19';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#TE {
    margin-left:44%;
    margin-top:29%
}

#TE::after {
    content: '88';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#NT {
    margin-left:39%;
    margin-top:18.7%;
    color:firebrick;
}

#NT::after {
    content: '94';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#RDE {
    margin-left:39%;
    margin-top:22.4%;
    color:firebrick;
}

#RDE::after {
    content: '95';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#LDE {
    margin-left:39%;
    margin-top:15%;
    color:firebrick;
}

#LDE::after {
    content: '96';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#JACK {
    margin-left:35%;
    margin-top:13%;
    color:firebrick;
}

#JACK::after {
    content: '59';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#SAM {
    margin-left:35%;
    margin-top:24.4%;
    color:firebrick;
}

#SAM::after {
    content: '44';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#WILL {
    margin-left:32.3%;
    margin-top:16.7%;
    color:firebrick
}

#WILL::after {
    content: '52';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#MIKE {
    margin-left:32.3%;
    margin-top:20.5%;
    color:firebrick;
}

#MIKE::after {
    content: '93';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#CB1 {
    margin-left:38%;
    margin-top:4.3%;
    color:firebrick;
    transition: 0.5s ease;
}

#CB1::after {
    content: '20';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#CB2 {
    margin-left:38%;
    margin-top:34%;
    color:firebrick;
}

#CB2::after {
    content: '40';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#FS {
    margin-left:25%;
    margin-top:23%;
    color:firebrick;
}

#FS::after {
    content: '41';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}

#SS {
    margin-left: 28%;
    margin-top: 11.9%;
    color:firebrick;
}

#SS::after {
    content: '22';
    position:absolute;
    display:inline-block;
    top: 26%;
    bottom:auto;
    left:28%;
    right:auto;
    font-size:20px;
    color:white;
}


.player-info {
    background-color: darkgray;
    position:absolute;
    transition: 0.5s ease;
    height:auto;
    width:50%;
    left: 25%;
    padding-right:2%;
    padding-left:2%;
    margin-top:0px;
    text-align: center;
    word-spacing: 3px;
    opacity:0;
    z-index:1;
}

.giants-roster i:hover {
    color:red;
}


#Quarterback:hover ~ #QuarterbackInfo {
    opacity:0.94;
}

#Center:hover ~ #CenterInfo {
    opacity:0.94;
}

#LeftGuard:hover ~ #LeftGuardInfo {
    opacity:0.94;
}

#RightGuard:hover ~ #RightGuardInfo {
    opacity:0.94;
}

#LeftTackle:hover ~ #LeftTackleInfo {
    opacity:0.94;
}

#RightTackle:hover ~ #RightTackleInfo {
    opacity:0.94;
}

#RunningBack:hover ~ #RunningBackInfo {
    opacity:0.94;
}

#WR1:hover ~ #WR1Info {
    opacity:0.94;
}


#WR2:hover ~ #WR2Info {
    opacity:0.94;
}

#Slot:hover ~ #SlotInfo {
    opacity:0.94;
}

#TE:hover ~ #TEInfo {
    opacity:0.94;
}

#NT:hover ~ #NTInfo {
    opacity:0.94;
}#NT:hover {color:blue;}

#RDE:hover ~ #RDEInfo {
    opacity:0.94;
}#RDE:hover {color:blue;}

#LDE:hover ~ #LDEInfo {
    opacity:0.94;
}#LDE:hover {color:blue;}

#JACK:hover ~ #JACKInfo {
    opacity:0.94;
}#JACK:hover {color:blue;}

#SAM:hover ~ #SAMInfo {
    opacity:0.94;
}#SAM:hover {color:blue;}

#WILL:hover ~ #WILLInfo {
    opacity:0.94;
}#WILL:hover {color:blue;}

#MIKE:hover ~ #MIKEInfo {
    opacity:0.94;
}#MIKE:hover {color:blue;}

#CB1:hover ~ #CB1Info {
    opacity:0.94;
}#CB1:hover {color:blue;}

#CB2:hover ~ #CB2Info {
    opacity:0.94;
}#CB2:hover {color:blue;}

#FS:hover ~ #FSInfo {
    opacity:0.94;
}#FS:hover {color:blue;}

#SS:hover ~ #SSInfo {
    opacity:0.94;
}#SS:hover {color:blue;}