body {
    background-color:lightgrey;
    max-width:100%;
    overflow-x:hidden;
}

img {
    border-radius:5%;
    transition:0.8s ease;
}

footer {
    text-align:center;
  }
.home-wrapper {
    background-color: black;
}

.home-wrapper a {
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    margin-bottom:1px;
}

.home-wrapper a:hover {
    background-color: rgb(191, 133, 199);
    color: black;
    text-decoration: underline;
}

.dropdown-menu {
  background-color: black;
  text-align: left;
}

.album-cover {
    height: 14.3%;
    width: 14.3%;
    border-radius: 5px;
    margin:2.5%;
    display: inline-block;
    transition:0.8s ease;
    padding:0;
}
  
.album-description {
    position:fixed;
    width:100%;
    padding:0px;
    font-size:50%;
    color:black;
    visibility:hidden;
    z-index:inherit;
}

.album-description p {
    width:100%;
    text-align:center;
}

.album-description ol {
    margin-left:-8%;
}

.growHTBAHB {
    transform:scale(3);
    transform-origin: -84% -5%;
    background-color:orange;
    z-index:1;
}

.growHTBAHB img {
    filter:blur(4px);
}
.growHTBAHB .album-description {
    visibility:visible;
    z-index:3;
    top:0;
    position:absolute;
}


.growProjectors {
    transform:scale(3);
    transform-origin: -20% -5%;
    background-color:rgb(21, 21, 80);
    z-index:1;
}

.growProjectors .album-description {
    color:white;
    visibility:visible;
    top:0;
    position:absolute;
}

.growProjectors img {
    filter:blur(4px);
}

.growEMS {
    transform:scale(3);
    transform-origin: 48% -5%;
    background-color:white;
    z-index:1;
}

.growEMS .album-description {
    color:black;
    visibility:visible;
    top:0;
}

.growEMS img {
    filter:blur(4px);
    opacity:0.5;
}

.growEMS .EMSside {
    text-align:left;
    margin-left:10%;
}

.growDamn {
    transform:scale(3);
    transform-origin: 118% -5%;
    background-color:white;
    z-index:1;
}

.growDamn .album-description {
    color:black;
    visibility:visible;
    top:0;
}

.growDamn img {
    filter:blur(4px);
}

.growMales {
    transform:scale(3);
    transform-origin: 186% -5%;
    background-color:rgba(150, 185, 85, 0.856);
    z-index:1;
}

.growMales .album-description {
    color:white;
    visibility:visible;
    top:0;
}

.growMales img {
    filter:blur(4px);
}

.growMales .maleside {
    text-align:left;
    margin-left:10%;
}

.growSnowmine {
    transform:scale(3);
    transform-origin: -83% 63%;
    background-color:lightgoldenrodyellow;
    z-index:1;
}

.growSnowmine .album-description {
    color:black;
    visibility:visible;
    top:0;
}

.growSnowmine img {
    filter:blur(4px);
    opacity:0.75;
}

.growSnowmine .snowside {
    text-align:left;
    margin-left:10%;
}

.growFlowerboy {
    transform:scale(3);
    transform-origin: -18% 63%;
    background-color:orange;
    z-index:1;
}

.growFlowerboy .album-description {
    color:black;
    visibility:visible;
    font-size:45%;
    top:0;
}

.growFlowerboy img {
    filter:blur(4px);
    opacity:0.84;
}

.growFlowerboy ol {
    margin-left:-10%;
}

.growSkott {
    transform:scale(3);
    transform-origin: 50% 63%;
    background-color:darkgoldenrod;
    z-index:1;
}

.growSkott .album-description {
    color:black;
    visibility:visible;
    top:0;
}

.growSkott img {
    filter:blur(4px);
    opacity:0.84;
}

.growSkott .skottside {
    text-align:left;
    margin-left:10%;
}

.growGypsys {
    transform:scale(3);
    transform-origin: 120% 63%;
    background-color:black;
    z-index:1;
}

.growGypsys .album-description {
    color:white;
    visibility:visible;
    font-size:45%;
    top:0;
}

.growGypsys img {
    filter:blur(4px);
    opacity:0.84;
}

.growGypsys .gypside {
    text-align:left;
    margin-left:10%;
}

.growMalibu {
    transform:scale(3);
    transform-origin:184% 63%;
    background-color:rgb(230, 162, 99);
    z-index:1;
}

.growMalibu .album-description {
    color:white;
    visibility:visible;
    font-size:31%;
    top:0;
}

.growMalibu img {
    filter:blur(4px);
}

.growMalibu .malibuSide {
    text-align:left;
    margin-left:10%;
}

.growMalibu .DosLP {
    text-align:right;
    margin-right:10%;
}


.growMoon {
    transform:scale(3);
    transform-origin:-84% 110%;
    background-color:rgb(207, 199, 90);
    z-index:1;
}

.growMoon .album-description {
    color:black;
    visibility:visible;
    top:0;
}

.growMoon img {
    filter:blur(4px);
}

.growMoon .moonSide {
    text-align:left;
    margin-left:10%;
}

.growLadyland {
    transform:scale(3);
    transform-origin:-18% 110%;
    background-color:black;
    z-index:1;
}

.growLadyland .album-description {
    color:black;
    visibility:visible;
    font-size:31%;
    top:0;
}

.growLadyland img {
    filter:blur(4px);
    opacity:.9;
}

.growLadyland .ellSide {
    text-align:left;
    margin-left:10%;
}

.growWACO {
    transform:scale(3);
    transform-origin:50% 110%;
    background-color:black;
    z-index:1;
}

.growWACO .album-description {
    color:white;
    visibility:visible;
    font-size:44%;
    top:0;
}

.growWACO img {
    filter:blur(4px);
}

.growWACO .wacoSide {
    text-align:left;
    margin-left:10%;
}

.growJurado {
    transform:scale(3);
    transform-origin:120% 110%;
    background-color:silver;
    z-index:1;
}

.growJurado .album-description {
    color:black;
    visibility:visible;
    font-size:44%;
    top:0;
}

.growJurado img {
    filter:blur(4px);
    opacity:.75;
}

.growJurado .juradoSide {
    text-align:left;
    margin-left:10%;
}
